/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*==========Reset==========*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

/*==========Root==========*/
:root {

  --color-bg: hsl(0, 0%, 97%);
  --color-white: hsl(0, 0%, 100%);
  --color-dark: hsl(0, 0%, 13%);
  --color-black: hsl(240, 5%, 7%);
  --color--dark-light: hsla(0, 0%, 13%, 0.815);
  --color-transparent: hsla(0, 0%, 100%, 0);
  --color-red: hsl(16, 98%, 50%);

  --font-size: .9rem;
  --line-height: 1.6;

  --transition: all 400ms ease-in-out;

  --container-lg: 80%;
  --container-md: 90%;
  --container-max-wd: 1800px;

  --shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
  --shadow-1: 0px 3px 6px hsla(0, 0%, 0%, 0.4);

}

/*==========Base==========*/
html {
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
body {
  background: var(--color-bg);
  color: var(--color-dark);
  line-height: var(--line-height);
  font-size: var(--font-size);
  overflow: hidden;
}
::-webkit-scrollbar {
  width: .5rem;
}
::-webkit-scrollbar-track {
  background: var(--color-bg)
}
::-webkit-scrollbar-thumb {
  background: var(--color-dark);
}
.container {
  width: var(--container-lg);
  max-width: var(--container-max-wd);
  margin-inline: auto;
}
.section {
  margin-block-start: 7rem;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 2rem;
}
h4, h5, h6 {
  font-weight: 300;
}
a {
  color: var(--color-black);
}
img {
  width: 100%;
}


/*==========Média Query Tablet==========*/
@media (max-width: 992px) {
  .container{
      width: var(--container-md);
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
      font-size: 1.5rem;
  }
  h3 {
      font-size: 1.2rem;
  }
  h5 {
      font-size: .8rem;
  }

}

/*==========Média Query Mobile==========*/
@media (max-width: 768px) {
  h1 {
      font-size: 2rem;
  }

}

/*==========Top Container==========*/
.top__container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

/*==========Stripes==========*/
.stripes__container{
  position: relative;
}
.stripe-1 {
  position: absolute;
  left: 17%;
  width: 50px;
  /* height: 100vh; */
  background: var(--color-black);
}
.stripe-2 {
  position: absolute;
  left: 19.6%;
  width: 80px;
  /* height: 100vh; */
  background: var(--color-dark);
}
.stripe-3 {
  position: absolute;
  left: 24.6%;
  width: 27px;
  /* height: 100vh; */
  background: var(--color--dark-light);
}

/*==========Header==========*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.5rem;
  background: var(--color-white);
  box-shadow: var(--shadow-1);
  z-index: 999;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__logo {
  font-size: 2.2rem;
  font-weight: 1000;
  text-transform: uppercase;
  letter-spacing: -5px;
  cursor: pointer;
  transition: var(--transition);
}
.navbar__logo:hover {
  text-shadow: var(--shadow);
}
.navbar__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.navbar__item {
  padding: .2rem .5rem;
  transition: var(--transition);
}
.navbar__item:hover {
  transform: scale(1.1);
}
.navbar__link {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--color-black);
}
.contact__btn {
  background: var(--color-black);
  color: var(--color-white);
  padding: .2rem .7rem;
  box-shadow: var(--shadow);
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--transition);
}
.contact__btn:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow-1);
}
.toggle__btn {
  font-size: 2.2rem;
  cursor: pointer;
  display: none;
}

/*==========Box Image==========*/
.box__image {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 30rem;
  height: 30rem;
  border-radius: .5rem;
  opacity: 0;
  animation: appear .5s linear forwards;
  animation-delay: .7s;
  transition: var(--transition);
}
.box__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: contrast(1.5) brightness(1.1);
}

/*==========Box Title==========*/
.box__title {
  position: absolute;
  top: 60%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.box__title span {
  color: var(--color-white);
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: var(--shadow-1);
  opacity: 0;
  animation: appear .7s linear forwards;
  animation-delay: 1s;
  transition: var(--transition);
}
.box__title span label {
  font-weight: 200;
  color: var(--color-black);
}

/*==========Box Sub-title==========*/
.box__subtitle {
  position: absolute;
  left: -5rem;
  top: 50%;
  opacity: 0;
  animation: appear 1.2s linear forwards;
  animation-delay: 1.5s;
  transition: var(--transition);
}
.box__subtitle h2 {
  font-size: 1.2rem;
  font-weight: 200;
  transform: rotate(-90deg);
}

/*==========Box Primary==========*/
.btn__primary {
  position: absolute;
  bottom: 7rem;
  right: 20rem;
  background: var(--color-black);
  color: var(--color-white);
  padding: .5rem 1rem;
  box-shadow: var(--shadow-1);
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  opacity: 0;
  animation: appear 1.5s linear forwards;
  animation-delay: .5s;
  transition: var(--transition);
}
.btn__primary:hover {
  transform: scale(1.1);
  box-shadow: var(--shadow);
}

/*==========Scroll Down==========*/
.scroll__down {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background: var(--color-black);
  box-shadow: var(--shadow-1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transition);
}
.scroll__down i {
  font-size: 1.5rem;
  color: var(--color-white);
}

/*==========Social Media==========*/
.social__media {
  position: absolute;
  top: 30%;
  right: 2rem;
  opacity: 0;
  animation: appear 1.7s linear forwards;
  animation-delay: 1s;
  transition: var(--transition);
}
.social__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
}
.social__link i {
  font-size: 1.5rem;
}



/*==========Animation IMG==========*/
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*==========Media Query Mobile==========*/
@media (max-width: 768px) {
  /*==========Top Container==========*/

  /*==========Stripes==========*/
  .stripe-1 {
    left: 14%;
    width: 22px;
  }
  .stripe-2 {
    left: 19%;
  }
  .stripe-3 {
    left: 38%;
    width: 30px;
  }

  /*==========Header==========*/
  .navbar__logo {
    font-size: 1.8rem;
  }
  .navbar__items {
    display: none;
  }

  /*==========Box Image==========*/
  .box__image {
    position: absolute;
    top: 25%;
    left: 2%;
    width: 20rem;
    height: 20rem;
  }

  /*==========Box Title==========*/
  .box__title {
    top: 70%;
    left: 50%;
  }
  .box__title span {
    font-size: 3rem;
  }

  /*==========Box Sub-title==========*/
  .box__subtitle {
    top: 28%;
  }
  .box__subtitle h2 {
    font-size: 1rem;
  }

  /*==========Box Primary==========*/
  .btn__primary {
    bottom: 2rem;
    right: 7rem;
  }

  /*==========Scroll Down==========*/
  .scroll__down {
    bottom: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
  }

  /*==========Social Media==========*/
  .social__media {
    top: 30%;
    right: 1rem;
  }
  .social__link i {
    font-size: 1.2rem;
  }

}